@font-face {
  font-family: sansation;
  src: url(el_futurix/fonts/sansation.ttf);
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sansation;
  background-color: rgb(0, 0, 0);
}

body{
  /* height: calc(100vh + 5px); */
}


#rendercv{
  position: fixed;
  width: 100%;
  height: 100%;
  touch-action: none;
}

#site{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 70px;
  background-color: transparent;
}

.top_nav{
  position: fixed;
  top: 0;
  left:0;
  right:0;
  margin-right: 150px;
  height: fit-content;
  /* background-color: rgb(63, 63, 63); */
  display: flex;
  justify-content:space-between;
  background-color: rgb(37, 37, 37);
  padding: 10px;
  padding-right: 30px;
  border-radius: 100px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.logo{
  height: 30px;
  margin-top: 20px;
  margin-left: 10px;
  /* margin-right: 5px; */
}

.top_nav .pages{
  margin: 40px 0 0 0 ;
  color: #79ebff;
  font-size: medium;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  top: -15px;
  /* background-color: black; */
  /* padding: 5px; */
}

.top_nav .pages:hover{
  /* color: gold; */
  text-shadow: 0 0 10px gold, 0 0 15px gold, 0 0 20px gold;
  border-radius: 10px;
}

.profile{
  margin: 30px 0 0 0 ;
  position: fixed;
  right: 20px;
  top: -10px;
  display: flex;
  font-weight: 600;
  padding: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(43, 42, 42);
  border-radius: 50px;
  cursor: pointer;
}

/* .profile:hover{
  border-bottom-left-radius: 0;
}

.profile:hover .profile_pop{
  display: block;
} */

.profile .a{
  margin-top: 10px;
  font-size: large;
  margin-left: 5px;
  position: relative;
  right: 27px;
}

.profile .txt{
  position: relative;
  left: 25px ;
  /* bottom: 1px; */
}

.profile .b{
  position: relative;
  height: 10px;
  width: 90px;
  background-color: rgb(255, 122, 73);
  border-radius: 10px 0 35% 10px;
}

.profile .pic{
  background-color: rgb(255, 122, 73);
  height: 40px;
  width: 40px;
  /* margin-left: 10px;   */
  border-radius: 100%;
}

.profile .profile_pop
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 0 0 10px 10px;
  padding: 0 10px 0 10px;
  top: 48px;
  left: 0px;
}

.profile .profile_pop .elm{
  margin: 5px 3px 5px 3px;
  color: black;
}

.profile_pop .elm:hover{
  text-shadow: 0 0 10px rgb(0, 225, 255);
} 

.curnt{
  position: fixed;
  z-index: 1;
  height: 10px;
  width: 300px;
  background-image: linear-gradient(to right, rgb(255, 255, 255) , rgb(118, 118, 118));
}

.curnt .diag_a{
  position: absolute;
  right: -10px;
  height: 10px;
  width: 10px;
  background: linear-gradient(135deg, rgb(118, 118, 118) 50%, rgba(0, 0, 0, 0) 50%);
}

#site .cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* max-width: 500px; */
  height: calc(100vh - 120px);
  margin-bottom: 100px;  
  overflow-y: auto;
}

#site .card{
  width: 250px;
  height: 390px;
  /* height: fit-content; */
  background-color: #d7fff4; /* Set the background color of the box */
  border: 1px solid #ccc; /* Add a border around the box */
  display: block; /* Display the box as a block element */
  margin: 20px 30px;
  border-radius: 30px;
}

#site .card_{
  width: fit-content;
  border-radius: 20px;
  margin: 30px;
  height: fit-content;
  /* height: 150px; */
  padding: 10px;
  background-color: rgb(0, 0, 0);
  position: relative;
  display: flex;
  color: aliceblue;
  cursor: pointer;
  border:solid #79ebff 1px;
}

#site .card_ .event_phto{
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

#site .card:hover{
  top:  -5px;
  background-color: rgb(206 215 88);
}

#site .card_:hover{
  top:  -5px;
  background-color: rgb(0, 52, 98);
}

#site .card .event_phto{
  height: 270px;
  width: 250px;
  border-radius: 30px;
  border: solid,rgb(0, 0, 0),1px;
}

#site .card .hed{
  margin-left: 20px;
  margin-top: 10px;
  font-size: x-large;
  font-weight:1000;
  color: rgb(0 0 0);
}
#site .card .about{
  font-size: small;
  color: rgb(65 62 62);
}

#site .heading{
  font-size: xx-large;
  color: rgb(250, 255, 157);
  font-weight: 500;
  margin: 20px 0 0 50px;
}

#site .cont_sites{
  display: none;
}

#frm_cont{
  position: fixed;
  top: 130px;
  bottom: 0px;
  /* margin-bottom: 20px; */
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 130px);
}


.menu{
  display: none;
  position: fixed;
  top: 70px;
  z-index: 2;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}

.menu .a, .menu .b, .menu .c{
  position: relative;
  /* top: 20px;
  left: 20px; */
  height: 4px;
  width: 30px;
  background-color: rgb(255, 221, 0);
  margin: 4px;
  border-radius: 10px;
}


#menu_pop{
  display: none;
  width: fit-content;
  height: fit-content;
  /* background-color: rgb(104, 104, 104); */
  border-radius: 5px;
  padding: 10px;
  /* position: fixed; */
  margin-top: 20px;
  margin-left: 30px;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

#menu_pop .menu_elm{
  text-align: center;
  margin: 5px 0 5px 0;
  padding: 5px;
  border-radius: 5px;
  color: aliceblue;
  font-size: larger;
  background-color: rgb(48, 48, 48);
}

#menu_pop .menu_elm:hover{
  background-color: rgb(27, 27, 5);
}

@media only screen and (max-width: 1213px) {
  .pages{
    display: none;
  }
  .heading{
    text-align: end;
  }
  .menu{
    display: block;
  }
  .top_nav{
    background-color: transparent;
  }
}