.key {
  font-weight: 700;
  font-size: x-large;
  color: #00d9ff;
  background-color: #2c0d0d;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  margin-bottom: 5px;
}

.val {
  font-weight: 100;
  color: #ffffff;
}


#frm_cnt input {
  border: none;
  border-bottom: solid #ffffff 1px;
  border-radius: 0;
}

#frm_cnt #submit {
  border: none;
  border-radius: 5px;
  background-color: aquamarine;
  color: rgb(29, 27, 27);
}

.rule_book {
  font-size: larger;
  font-weight: 800;
  color: #00D9FF;
}

input {
  padding: 8px;
  width: 70%;
  /* height: 40px; */
  margin: 0;
  border: 0;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.name-display {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}


@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .container {
    align-items: unset;
  }
} 

@media (max-width: 430px) {
  .container {
    align-items: unset;
  }
} 

.ip_flx{
  display: flex;
}

.ip_flx button{
  border: 0;
  background-color: #00D9FF;
  border-radius: 3px;
  color: black;
  font-size: x-large;
  font-weight: 700;
  height: 30px;
  /* width: 40px; */
  padding: 3px;
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.name{
  font-size: small;
  margin: 0;
  color: #555;
}

.id_elm{
  margin-bottom: 60px;
}